body{
 font-family: 'Roboto', sans-serif;
 width: 900px;
 margin: 10px auto;
 line-height: 1.5;
}

#nav{

  position: fixed ;
  background-color:  white;
  margin-top: -200px;
  padding-right: 10px;

  }

#accueil{
  margin-top: 200px
}

#accueil-text{
  width: 500px;
  float: right;
}

#logo{
  width: 100px;
  height: 100px;
}

ul{
  margin-left: 530px;
  margin-bottom: 50px;
  margin-top: -50px;
}


li{

  display: inline-block;
  margin-left: 40px;
}

hr {
	height: none;
	border: none;
	border-top: 1px dashed grey;
}


h1{
 margin-top: 30px;
 font-size: 30px;
 text-align: center;
}

#accueil p{
  margin-top: 30px;

}
#accueil h6{
  background-color: lightgray;
}

#accueil-apropos {
  width: 600px;
}
